.header-navigator-left,
.header-navigator-right {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.header-navigator-date {
  color: white;
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2rem;
    margin-bottom: 12px;
  }
}
