#wrapper {
  // height: 100%;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 70vh;
  align-items: center;
  font-family: Montserrat, 'sans-serif';
  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 12px;
    width: 70%;
    height: 55px;
    margin-bottom: 37px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
    top: -2rem;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    color: gray;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      line-height: 21px;
      text-align: center;
      &:first-child {
        color: #f45452;
      }
      &:last-child {
        color: blue;
      }
    }
  }

  .calendar-body {
    width: 70%;
    height: 90%;
    background-color: whitesmoke;
    overflow: auto;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    animation: rotateCalendar 0.5s;
  }

  .calendar-footer {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    color: #888888;
    animation: rotateCalendar 0.5s;
    .calendar-footer-left {
      span {
        margin-right: 1rem;
        opacity: 0.8;
      }
      .calendar-total-income {
        color: #219a95;
      }
      .calendar-total-expenditure {
        color: #f45452;
      }
    }
  }
}

.calendar-day-modal {
  position: fixed;
  z-index: 2;
  text-align: center;
  background-color: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.calendar-day-modal.opened {
  display: block;
}
.calendar-modal-container {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  margin: auto;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.calendar-modal-container::-webkit-scrollbar {
  display: none;
}
.calendar-modal-incomes,
.calendar-modal-expenditures {
  display: flex;
  flex-direction: column;
  .calendar-modal-title {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: start;
    margin-bottom: 1.4rem;
  }
}
.calendar-modal-incomes {
  margin-bottom: 2rem;
  > p {
    color: #2ac1bc;
  }
  span {
    color: #2ac1bc;
  }
}
.calendar-modal-expenditures {
  > p {
    color: #f45452;
  }
  span {
    color: #f45452;
  }
}
.calendar-modal-data {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin-bottom: 8px;
  border-bottom: 1px solid lightgray;
  padding: 0.3rem;
  .calendar-modal-top,
  .calendar-modal-bottom {
    display: flex;
    margin-bottom: 8px;

    .calendar-modal-category {
      width: 15%;
      border-radius: 12px;
      color: black;
      margin-right: 1.1rem;
      line-height: 1.4rem;
      text-align: start;
    }
    .calendar-modal-payment {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }

  .calendar-modal-bottom {
    justify-content: space-between;
    .calendar-modal-memo {
      text-align: start;
      width: 80%;
      font-size: 0.95rem;
    }
  }
}

// test
@keyframes rotateCalendar {
  0% {
    opacity: 0;
    transform: translateX(100%) rotateZ(45deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) rotateZ(0);
  }
}
