#wrapper {
  height: 80vh;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90%;
  align-items: center;
  font-family: Montserrat, 'sans-serif';
  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 12px;
    width: 70%;
    height: 55px;
    margin-bottom: 37px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
    top: -2rem;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    color: gray;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      line-height: 21px;
      text-align: center;
      &:first-child {
        color: red;
      }
      &:last-child {
        color: blue;
      }
    }
  }

  .calendar-body {
    display: grid;
    width: 70%;
    height: 90%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: auto;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  }

  .calendar-footer {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    color: #888888;
    .calendar-footer-left {
      span {
        margin-right: 1rem;
        opacity: 0.8;
      }
      .calendar-total-income {
        color: #219a95;
      }
      .calendar-total-expenditure {
        color: #f45452;
      }
    }
  }
}
