.calendar-day {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.9rem;
  position: relative;
  span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    color: #8d9393;
    font-weight: 600;
  }
  p {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 4px;
  }
}
.next-month,
.prev-month {
  opacity: 0.7;
}
.calendar-sun {
  color: red;
}

.calendar-sat {
  color: blue;
}

.calendar-today {
  background-color: #f5f5f5;
}
.calendar-income {
  color: #219a95;
}
.calendar-expenditure {
  color: #f45452;
}
.calendar-total {
  color: black;
}
