.calendar-day {
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.9rem;
  position: relative;
  span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    color: #8d9393;
    font-weight: 600;
  }
  p {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 4px;
  }
}
.next-month,
.prev-month {
  opacity: 0.7;
}

.now-month {
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.now-month::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  width: 0%;
  height: 1px;
  background: #6098ff;
  box-shadow: inset 0px 0px 0px #6098ff;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.now-month:hover::before {
  width: 100%;
}

.now-month::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 0%;
  height: 1px;
  background: #6098ff;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.now-month:hover::after {
  width: 100%;
}
.now-month:hover {
  border-left: 2px solid #6098ff;
  border-right: 2px solid #6098ff;
  cursor: pointer;
}
.calendar-sun {
  color: red;
}

.calendar-sat {
  color: blue;
}

.calendar-today {
  background-color: #f5f5f5;
}
.calendar-income {
  color: #219a95;
}
.calendar-expenditure {
  color: #f45452;
}
.calendar-total {
  color: black;
}
