.bar-total-expenditure {
  display: flex;
  text-align: center;
  font-weight: 700;
  color: #f45452;
  font-size: 20px;
}
.bar-total-expenditure-title {
  color: #2ac1bc;
  margin-right: 1.2rem;
}
.bar-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.2rem;
  height: 85%;
}
.bar-expenditure-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  cursor: pointer;
  border-radius: 8px;
  &:hover {
    background-color: #00000020;
  }
}

.bar-expenditure-left {
  display: flex;
  flex-direction: row;
}

.bar-expenditure-left {
  width: 80%;
}

.bar-category {
  width: 30%;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  height: 1.4rem;
  border-radius: 12px;
  margin-right: 1.2rem;
}

.bar-percent-text-container {
  position: relative;
  display: flex;
  width: 10%;
  align-items: center;
  margin-right: 1.2rem;
}

.bar-percent-container {
  width: calc(60% - 2.4rem);
  border-radius: 6px;
}
.bar-percent {
  height: 100%;
  width: 0;
  transition: width 1.3s;
  border-radius: 6px;
}
.bar-expenditure-right {
  display: flex;
  overflow: hidden;
}

.rolling-container {
  position: relative;
  overflow: hidden;
}
.rolling-real-text {
  visibility: hidden;
}
.rolling-text {
  position: absolute;
  overflow: hidden;
  transform-style: preserve-3d;
  opacity: 0.9;
  animation: rotate1;
}
.bar-percent-ex {
  box-sizing: border-box;
  position: absolute;
  left: 1.1rem;
}
@keyframes rotate1 {
  100% {
    transform: translateY(10em);
  }
}
